@import "tailwindcss";
@plugin "tailwindcss-safe-area";

html {
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.my-indicator {
  opacity: 0;
  transition: opacity 150ms ease-in;
  transition-delay: 200ms;
}
.htmx-request.my-indicator {
  opacity: 1;
}

.inner-page {
  height: calc(100% - 4rem - env(safe-area-inset-bottom));
}

.top-bar {
  padding-top: max(env(safe-area-inset-bottom, 0px), 0.5rem);
}

nav {
  padding-bottom: max(env(safe-area-inset-bottom, 0px), 0.5rem);
}

.controls {
  padding-left: env(safe-area-insert-left, 0px);
  padding-right: env(safe-area-inset-right, 0px);
  translate: 0 calc(-0.5rem - env(safe-area-inset-bottom, 0px));
}

.controls-placeholder {
  height: calc(8rem + env(safe-area-inset-bottom, 0px));
}
