{% if partial and partial == true %}
  {% block content %}
  {% endblock content %}
{% else %}
  <!doctype html>
  <html lang="en" class="dark">
    <head>
      <title>Qobuz Player</title>
      <link rel="shortcut icon" href="/assets/favicon.svg" type="image/svg" />
      <link rel="manifest" href="/assets/manifest.json" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=5 viewport-fit=cover"
      />
      <link rel="stylesheet" href="/assets/styles.css" />

      <script src="https://unpkg.com/htmx.org@2.0.4"></script>
      <script src="https://unpkg.com/htmx-ext-preload@2.1.0/preload.js"></script>
      <script src="https://unpkg.com/htmx-ext-remove-me@2.0.0/remove-me.js"></script>
      <script src="https://unpkg.com/idiomorph@0.7.3"></script>
      <script src="/assets/script.js?version=100"></script>
    </head>
    <body
      class="text-gray-50 bg-black touch-pan-y"
      hx-ext="preload, remove-me, morph"
      hx-indicator="#loading-spinner"
    >
      <div
        id="loading-spinner"
        hx-preserve
        class="fixed top-8 right-8 z-10 p-2 rounded-lg pointer-events-none m-safe bg-gray-900/20 my-indicator backdrop-blur size-12"
      >
        {% include "icons/loading-spinner.html" %}
      </div>

      <div
        id="toast-container"
        class="flex fixed top-8 right-8 z-20 flex-col gap-4"
      ></div>

      {% block content %}{% endblock content %}
      {% if active_page != 'NowPlaying' %}
        {% include "controls.html" %}
      {% endif %}
      {% include "navigation.html" %}
    </body>
  </html>
{% endif %}
