@defer (list.html) {
  @for (artist in artists) {
    @defer (list-item.html) {
      <a
        class="flex items-center gap-4"
        hx-push-url="true"
        href="/artist/{{ artist.id }}"
        preload="mousedown"
        preload-images="true"
      >
        @if (artist.image) {
          <div
            class="aspect-square size-12 rounded-full bg-gray-800 bg-cover bg-center bg-no-repeat"
            style="background-image: url({{ artist.image }});"
          ></div>
        } @else {
          <div
            class="flex aspect-square size-12 items-center justify-center rounded-full bg-gray-500"
          >
            <div class="w-8">
              @defer (icons/user.html) {}
            </div>
          </div>
        }
        <p class="w-full truncate text-lg">{{ artist.name }}</p>
      </a>
    }
  }
}
