@defer (list.html) {
  @for (playlist in playlists) {
    @defer (list-item.html) {
      <a
        class="flex w-full items-center gap-4 text-left text-lg"
        href="/playlist/{{ playlist.id }}"
      >
        <div
          class="aspect-square size-12 rounded-md bg-gray-800 bg-cover bg-center bg-no-repeat"
          @if(playlist.image)
          {
          style="background-image: url({{ playlist.image }});"
          }
        ></div>
        <p class="w-full truncate text-lg">{{ playlist.title }}</p>
      </a>
    }
  }
}
