<button class="transition-colors cursor-pointer"
        hx-swap="none"
        hx-put="{{play-pause-api status}}"
>
	{{#if (eq status "Playing")}}
	{{> pause-icon}}
	{{else}}
	{{> play-icon}}
	{{/if}}
</button>
