<div
  class="p-safe-or-4 flex w-full flex-wrap items-end justify-center gap-4 *:max-w-sm"
>
  <img src="{{ playlist.image }}" class="size-full rounded-lg object-contain" />

  <div class="flex w-full grow flex-col items-center gap-4">
    <div
      class="flex w-full flex-col items-center justify-center gap-2 text-center"
    >
      <span class="text-lg sm:text-xl">{{ playlist.title }}</span>
      <span class="text-gray-400 sm:text-lg"> {{ duration }} minutes </span>
    </div>

    @defer (button-group.html) {
      <button
        class="button button-primary"
        hx-swap="none"
        hx-put="/playlist/{{ playlist.id }}/play"
      >
        <span class="size-6">
          @defer (icons/play.html) {}
        </span>
        <span>Play</span>
      </button>

      <button
        class="button button-primary"
        hx-swap="none"
        hx-put="{{ playlist.id }}/play/shuffle"
      >
        <span class="size-6">
          @defer (icons/play.html) {}
        </span>
        <span>Shuffle</span>
      </button>

      @if (!playlist.is_owned) {
        @defer (
          toggle-favorite.html;
          id=playlist.id;
          is_favorite=is_favorite;
          api="/playlist"
        ) {}
      } @else {
        <button
          class="button button-danger"
          hx-swap="none"
          hx-delete="{{ playlist.id }}"
        >
          <span class="size-6">
            @defer (icons/trash.html) {}
          </span>
          <span>Delete</span>
        </button>
      }
      @if (rfid) {
        <button
          class="button button-primary"
          hx-swap="none"
          hx-put="{{ playlist.id }}/link"
        >
          <span class="size-6">
            @defer (icons/link.html) {}
          </span>
          <span>Link RFID</span>
        </button>
      }
    }
  </div>
</div>
<div class="flex w-full flex-col gap-4">
  <div class="sm:p-4">
    @defer (
      playlist-tracks.html;
      playing_info=playing_info;
      playlist=playlist
    click=click
    ) {}
  </div>
</div>
