<div class="flex flex-col">
	<input id="progress-slider"
	       class="w-full accent-gray-500"
	       autocomplete="off"
	       hx-post="/api/position"
	       hx-trigger="input delay:100ms"
	       hx-swap="none"
	       value={{position_mseconds}}
	       type="range"
	       name="value"
	       min="0"
	       max={{multiply
	       duration_seconds
	       1000}}
	>

	<div class="flex justify-between text-sm text-gray-500">
		<span id="position">{{msec-to-mmss position_mseconds}}</span>
		<span>{{msec-to-mmss (multiply duration_seconds 1000)}}</span>
	</div>
</div>
