name: On Pull Request To Main
on:
  pull_request:
    branches:
      - main
    paths:
      - "**.rs"
      - "**/Cargo.lock"
      - "**/Cargo.toml"
  push:
    branches:
      - main
    paths:
      - "**.rs"
      - "**/Cargo.lock"
      - "**/Cargo.toml"

jobs:
  pre-merge:
    name: Pre-merge checks
    strategy:
      fail-fast: true
      matrix:
        arch: [x86_64, aarch64]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: sudo apt update && sudo apt install -y librust-alsa-dev

      - name: Test ${{ matrix.arch }}
        run: cargo test

      - name: Build ${{ matrix.arch }}
        run: cargo build --features gpio
